<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Business - Registro tarjeta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Payment - USMP</h1>        
    </div>
    <h4>Registro de tarjeta</h4>
    <br>
    <span style="color: red" th:if="${messageAdvice != null}" th:text="${messageAdvice}" />
    <form th:action="@{/card/register}" method="post" th:object="${registerCard}">
        <label for="cardName">Nombre de tarjeta:</label>
        <input id="cardName" type="text" th:field="*{cardName}" placeholder="Nombre de tarjeta" required>
        <label for="cardNumber">N&uacute;mero de tarjeta:</label>
        <input id="cardNumber" type="text" th:field="*{cardNumber}" placeholder="Número de tarjeta" required>
        <label for="expirationDate">Fecha de expiraci&oacute;n:</label>
        <input id="expirationDate" type="text" th:field="*{expirationDate}" placeholder="Fecha de expiración" required>
        <input type="hidden" th:name="customerId" th:value="${session.customer.id}">
        <button type="submit">Registrar</button>
    </form>
</body>
</html>