<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Business - M&eacute;todos de pago</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Payment - USMP</h1>        
    </div>
    <br>
    <a th:href="@{/card/register}">Agregar tarjeta</a>
    <br>
    <span style="color: red" th:text="${message}" />
    <br>
    <span style="color: red" th:if="${messageAdvice != null}" th:text="${messageAdvice}" />
    <br>
    <span style="color: red" th:if="${messageSuccess != null}" th:text="${messageSuccess}" />
    <br>
    <div th:each="card : ${cards}" style="border: 2px solid; border-radius: 5px;">
        <span th:text="${card.cardName}" /><br><br>
        <span th:text="${card.cardNumber}" /><br><br>
        <a th:href="@{/card/remove/{cardNumber} ( cardNumber = ${card.cardNumber} )}" role="button" onclick="return confirm('Esta seguro?')" title="Eliminar tarjeta">Eliminar tarjeta</a>
    </div>
</body>
</html>