<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Business</title>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="jumbotron text-center">
        <h1>Usmp Programaci&oacute;n 2 Payment</h1>        
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav"> 

                <span style="color: red" th:if="${messageSuccess != null}" th:text="${messageSuccess}"></span>

                <span th:if="${session.customer != null}" th:text="'Bienvenido ' + ${session.customer.name}"></span>&nbsp;

                <li><a th:href="@{/index}">Iniciar sesi&oacute;n</a>&nbsp;</li>

                <li><a th:href="@{/client/register}">Registrarse</a>&nbsp;</li>

                <li><a th:if="${session.customer != null}" th:href="@{/card/{id} (id=${session.customer.id})}">Mis m&eacute;todos de pago</a></li>

                <li><a th:if="${session.customer != null}" th:href="@{/payment/register}">Realizar pago</a></li>

                <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Cerrar sesi&oacute;n</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>