<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Business - Sign in</title>
</head>
<body>
    <h1>Usmp Programaci&oacute;n 2</h1>
    <hr>
    <form th:action="@{/login}" method="post">
        Usuario:<hr>
        <input type="text" name="username"><hr>
        Password:<hr>
        <input type="password" name="password"><hr>
        <input name="submit" type="submit" value="Iniciar sesión">
    </form>
</body>
</html>