<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    <meta charset="UTF-8">
    <title>Registro de cliente</title>
</head>
    <body>
        <span style="color: red" th:if="${errors != null}" th:text="${errors}"></span>
         <div class="text-center">
        <div class="jumbotron">
            <h1>PAYMENT<span class="text-muted "> - USMP</span> </h1>
        </div>>
        </div>
    
    <!-- <form th:action="@{/client/register}" method="post" th:object="${customer}">
            <label for="name">Nombre:</label>
            <input id="name" type="text" th:field="*{name}" placeholder="Nombre cliente">
            <label for="firstLastName">Apellido paterno:</label>
            <input  id="firstLastName" type="text" th:field="*{firstLastName}" placeholder="Apellido paterno">
            <label for="secondLastName">Apellido materno:</label>
            <input id="secondLastName" type="text" th:field="*{secondLastName}" placeholder="Apellido materno">
            <label for="dni">DNI:</label>
            <input id="dni" type="text" th:field="*{dni}" placeholder="Documento de identidad">
            <label for="email">Correo:</label>
            <input id="email" type="email" th:field="*{email}" placeholder="Correo electrónico">
            <label for="password">Contraseña:</label>
            <input id="password" type="password" th:field="*{password}" placeholder="Correo electrónico">
            <button type="submit">Registrar</button>
        </form>-->

        <form th:action="@{/client/register}" method="post" th:object="${customer}">
            <div class="container">
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input id="name" type="text" class="form-control" th:field="*{name}" placeholder="Nombre cliente">
                </div>
                <div class="form-group">
                    <label for="firstLastName">Apellido paterno:</label>
                    <input id="firstLastName" type="text" class="form-control" th:field="*{firstLastName}" placeholder="Apellido paterno">
                </div>
                    <div class="form-group">
                    <label for="secondLastName">Apellido materno:</label>
                    <input id="secondLastName" type="text" class="form-control" th:field="*{secondLastName}" placeholder="Apellido materno">
                </div>  <div class="form-group">
                    <label for="dni">DNI:</label>
                    <input id="dni" type="text" class="form-control" th:field="*{dni}" placeholder="Documento de identidad">
                </div>  <div class="form-group">
                    <label for="email">Correo:</label>
                    <input id="email" type="email" class="form-control" th:field="*{email}" placeholder="Correo electrónico">
                </div>  <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input id="password" type="password" class="form-control" th:field="*{password}" placeholder="Correo electrónico">
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
    </body>
</html>