<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Business - Transacci&oacute;n</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Payment - USMP</h1>        
    </div>

    <span style="color: black" th:if="${messageAdvice != null}" th:text="${messageAdvice}" />

    <div class="container">
        <form th:action="@{/payment/do}" th:object="${payment}" method="post">
        <div class="well">
            <div class="form-group">
            <label for="cardName">Nombre de tarjeta:</label>
            <input class="form-control" id="cardName" type="text" th:field="*{cardName}" placeholder="Nombre de tarjeta" required>
            <br>
            </div>
            <div class="form-group">
            <label for="cardNumber">N&uacute;mero de tarjeta:</label>
            <input class="form-control" id="cardNumber" type="text" th:field="*{cardNumber}" placeholder="Número de tarjeta" required>
            <br>
            </div>
            <div class="form-group">
            <label for="expirationDate">Fecha de expiraci&oacute;n:</label>
            <input class="form-control" id="expirationDate" type="text" th:field="*{expirationDate}" placeholder="Fecha de expiración" required>
            <br>
            </div>
            <div class="form-group">
            <label for="cvcCode">C&oacute;digo CVC:</label>
            <input class="form-control" id="cvcCode" type="text" th:field="*{cvcCode}" placeholder="Código cvc" required>
            <br>
            </div>
            <div class="form-group">
            <label for="documentNumber">N&uacute;mero de documento:</label>
            <input class="form-control" id="documentNumber" type="text" th:field="*{documentNumber}" placeholder="Número de documento" required>
            <br>
            </div>
            <div class="form-group">
            <label for="amount">Monto:</label>
            <input id="amount" type="text" th:field="*{amount}" placeholder="Monto S/" required>
            <input class="form-control" type="hidden" th:name="customerId" th:value="${session.customer.id}"><br>
            </div>
            <button class="btn btn-success" type="submit">Pagar</button>        
        </div>
        </form>
    </div>

</body>
</html>